*{
    margin: 0;
    padding: 0;
}

.first{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.el{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.el spline-viewer{
    transform: scale(1.5);
    transform-origin: center center;
    padding-top: 150px;
}